<div class="container">
    <h3 class="text-center">Create Employees Form</h3>
    <div >
      <div class="row">
      <div class="col-md-2 text-center">
          <label >Employee Name</label>
          </div>
          <div class="col-md-9 p-2">
          <input  class="form-control"
          [(ngModel)]="ename">
      </div>
        <div class="col-md-2 text-center">
        <label>Job</label>
        </div>
        <div class="col-md-9 p-2">
        <input class="form-control"
        [(ngModel)]="job">
        </div>
        <div class="col-md-2 text-center">
            <label>Email</label>
        </div>
            <div class="col-md-9 p-2">
            <input  class="form-control"
            [(ngModel)]="email">
      </div>
        <div class="col-md-2 text-center">
        <label>Salary</label>
        </div>
        <div class="col-md-9 p-2">
        <input  class="form-control"
        [(ngModel)]="salary">
  </div>
      <div class="my-4 text-center">
          <button (click)="createemployee()" class="btn btn-primary mx-3">Create</button>
          <button (click)="clearform()" class="btn btn-primary mx-3">Clear</button>
  
      </div>
    </div>
    </div>
</div>
