<div class="container">
    <h3 class="p-2 ">Employees List</h3>
    <table class="table table-sm table-striped">
      <thead class="table-dark">
        <tr>
          <th>EName</th>
          <th>Job</th>
          <th>Email</th>
          <th>Salary</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let emp of this.empOperations.employeesList">
        <tr>
          <td>{{emp.ename}}</td>
          <td>{{emp.job}}</td>
          <td>{{emp.email}}</td>
          <td>{{emp.salary}}</td>
          <td class="text-center">
            <button class="btn btn-primary mx-3" (click)="editEmployee(emp)">Edit</button>
            <button class="btn btn-danger" (click)="deleteEmp(emp)">Delete</button>
          </td>
        </tr>
  
      </tbody>
    </table>
  </div>
